<footer class="footer">
  <div class="footer__top">
    <div class="footer__section">
      <h3>Contenido</h3>
      <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/products">Categorias</a></li>
      </ul>
    </div>
    <div class="footer__section">
      <h3>Servicio al Cliente</h3>
      <ul>
        <li><a routerLink="#">Ayuda</a></li>
        <li><a routerLink="#">Devoluciones</a></li>
        <li><a routerLink="#">Envíos</a></li>
        <li><a routerLink="#">Privacidad</a></li>
      </ul>
    </div>
    <div class="footer__section">
      <h3>Conéctate con Nosotros</h3>
      <ul>
        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p>&copy; 2024 TeresaBaquerizo. Todos los derechos reservados.</p>
  </div>
</footer>
