<app-nav-bar></app-nav-bar>

<!--
<div class="product-list-container">
  <div class="filters-container"></div>
    <h1>Productos</h1><br>
    <div class="filter-section">
      <button class="btn btn-warning" routerLink="/add-product-artisan">Agregar Nuevo Producto</button>
    </div>
    <div class="filter-section">

      <h3>Buscar</h3>
      <input #searchInput type="text" id="search-bar" placeholder="Buscar productos...">
      <button class="btn btn-success" (click)="onSearch(searchInput.value)">Buscar</button>
    </div>
  </div>

  <div class="products-grid">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.image" [alt]="product.name" class="product-image">
      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>S/ {{ product.price }}</p>
        <button class="edit-button" routerLink="/edit-product-artisan">Editar</button>
        <button class="delete-button" (click)="deleteProduct(product.id)">Eliminar</button>
      </div>
    </div>
  </div>


</div>
-->
<app-footer></app-footer>
