
<app-nav-bar></app-nav-bar>

        <app-carousel [items]="carouselData"></app-carousel>
        <div class="info-section">
          <div class="info-box">
            <i class="fa fa-handshake"></i>
            <h4>Hecho por artesanos peruanos</h4>
            <p>Apoyamos a los talentosos artesanos locales.</p>
          </div>
          <div class="info-box">
            <i class="fa fa-clock"></i>
            <h4>Atención todos los días</h4>
            <p>Estamos disponibles para ayudarte en cualquier momento.</p>
          </div>
          <div class="info-box">
            <i class="fa fa-undo"></i>
            <h4>Devolución si no te gusta</h4>
            <p>Garantizamos tu satisfacción con una política de devolución sencilla.</p>
          </div>
        </div>
<app-content-section></app-content-section>

<app-footer></app-footer>

